*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    padding-left: 0;
}

a{
    text-decoration: none;
}

/* centering element */

.div {
    position: relative;
    height: 75vh;
  }

.centered-element {
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);

}

    /* end centering element */


.button{
    border: 2px solid #fff;
    padding:10px 20px;
    border-radius:30px;
    text-transform:uppercase;
    color: #fff;
    transition:all 0.4s ease-in-out;
    }

.button:hover{
    color: #fff;
    background-color:red;
    border:red;
}

@media screen and (max-width:575px){
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }

    p{
        font-size: 14px;
    }
}

@media screen and (min-width:992px){
    h1{
        font-size: 42px;
    }
    h2{
        font-size: 38px;
    }

 
}